# JS
node_modules/
dist
deploy/.env.local

# wrangler
.wrangler/

# claude
.claude/

# config
deploy/src/config.ts
deploy/src/config.ts.backup.*
deploy/worker-configuration.d.ts

# misc
/TODO.md
/scratch/

*.egg-info/

.DS_Store
*.py[cod]
