# JS
node_modules/
dist

# wrangler
.dev.vars
.wrangler/

# claude
/.claude/

# config
config.yaml
config.schema.json
oss-gateway/src/config.ts
oss-gateway/worker-configuration.d.ts

# misc
/TODO.md
/scratch/
