name: Publish Package to npmjs
on:
  release:
    types: [published]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    environment:
      name: npm
      url: https://www.npmjs.com/package/@pydantic/ai-gateway/v/${{ steps.check-package-version.outputs.VERSION }}


    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"

      - id: check-package-version
        uses: samuelcolvin/check-python-version@v5
        with:
          version_file_path: gateway/package.json
          version_pattern: '"version": *"(?P<version>.+?)"'

      - run: npm install -g npm@latest
      - run: npm install
      - run: npm publish --workspace=gateway
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
